# IDE specific stuff
.idea

# Wordpress top level files
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Wordpress functional directories
data
wordpress/wp-admin

wordpress/wp-content/*
!wordpress/wp-content/plugins/cz-gallery
!wordpress/wp-content/themes/sparkling-child

wordpress/wp-includes/*