# IDE specific stuff
.idea

# Local DB file
data

# Webpack
dist

plugins

# Node
node_modules

# Apple
../.DS_Store
.DS_Store

/cz-theme/build/
/wp-content/

# Migration
scripts/migrate/.env
artworks.json

# Claude
CLAUDE.md
.claude

# User Manual
Benutzerhandbuch-claudia-zemp.pdf
