<!-- wp:pattern {"slug":"czemp/header"} /-->

<!-- wp:group {"tagName":"main","className":"cz-gallery-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group cz-gallery-page">

    <!-- wp:heading {"textAlign":"center"} -->
    <h1 class="wp-block-heading has-text-align-center">Galerie</h1>
    <!-- /wp:heading -->

    <!-- wp:pattern {"slug":"czemp/gallery-intro"} /-->

    <!-- wp:spacer {"height":"3rem"} /-->

    <!-- wp:post-content /-->

</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"czemp/footer"} /-->
