@use "../breakpoints" as bp;

.cz-subcollection-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 3rem;
}

@include bp.sm {
    .cz-subcollection-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@include bp.md {
    .cz-subcollection-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
